[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
    ignore = dirty
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
    ignore = dirty
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/hallison/vim-markdown.git
    ignore = dirty
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
    ignore = dirty
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = dirty
[submodule ".vim/bundle/phpdoc"]
	path = .vim/bundle/phpdoc
	url = https://github.com/vexxor/phpdoc.vim.git
    ignore = dirty
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
    ignore = dirty
[submodule ".vim/bundle/snipmate-snippets"]
    path = .vim/bundle/snipmate-snippets
    url = https://github.com/honza/vim-snippets.git
    ignore = dirty
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
    ignore = dirty
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
    ignore = dirty
[submodule ".vim/bundle/visual-star-search"]
	path = .vim/bundle/visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
    ignore = dirty
[submodule ".vim/bundle/qargs"]
	path = .vim/bundle/qargs
	url = https://github.com/nelstrom/vim-qargs.git
    ignore = dirty
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
    ignore = dirty
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = https://github.com/tavisto/vim-puppet.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/elixir"]
	path = .vim/bundle/elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/elixir-snippets"]
	path = .vim/bundle/elixir-snippets
	url = https://github.com/carlosgaldino/elixir-snippets.git
[submodule ".vim/bundle/twig"]
	path = .vim/bundle/twig
	url = https://github.com/evidens/vim-twig.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
