syntax: glob
.vim/tags*
.vim/.*
.vim/undodir/*
.vim/backupdir/*
.vim/dbext_sql_history.sql
*.pyc
*.project
*.buildpath
*.project
*.settings*
*.egg*
*build*
*.swp
.DS_Store
bin/chaosmonkeybot
bin/composer
bin/composer.phar
bin/halbot
bin/slackbot
