[color]
    diff = auto
    status = auto
    branch = auto
    show-branch = always
[user]
    name = Tavis Aitken
    email = tavisto@tavisto.net
    signingkey = E618FC96DCDFE023
[core]
    excludesfile = ~/.gitignore
    pager = delta
[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[alias]
    glog = log --graph --oneline --decorate --all
    vlog = log --date=iso --graph --pretty='%C(auto) %h %d%Cblue %ad%Cred %aN %Creset%s'
    klog = log --graph --pretty='%C(auto) %h %Cblue %ad %Cred %aN %Creset%s %C(auto)%d%Cgreen%G? %GK'
    root = !pwd
[push]
    default = current
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[commit]
    gpgSign = true
[init]
	defaultBranch = main
