[color]
    diff = auto
    status = auto
    branch = auto
    show-branch = always
[user]
    name = Tavis Aitken
    email = tavisto@tavisto.net
    signingkey = E618FC96DCDFE023
[core]
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | /usr/bin/less --tabs=4 -RFX
[alias]
    glog = log --graph --oneline --decorate --all
    vlog = log --date=iso --graph --pretty='%C(auto) %h %d%Cblue %ad%Cred %aN %Creset%s'
    klog = log --graph --pretty='%C(auto) %h %Cblue %ad %Cred %aN %Creset%s %C(auto)%d%Cgreen%G? %GK'
    root = !pwd
[push]
    default = current
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[commit]
    gpgSign = true
